:root {
    --cMain: #233C90;
    --bgMain: #F6F6F8;
}

body {
    background-color: var(--bgMain) !important;
}





.app-body {
    margin-top: 45px;
    flex-grow: 1;

    margin-left: 5%;
    margin-right: 5%;
    /*background-color: beige;*/
}

.app-button-bar {
    margin-top: 50px;
    margin-bottom: 50px;
    /*background-color: red;*/
}

.app-body h1 {

}

.app-button-bar > div {

}

.app-button-bar > div label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: 700;
}

.app-button-bar > div .switch {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
}

